
<div class="login_container">
  <div class="backbox">
    <div class="loginMsg">
      <div class="textcontent">
        <p class="title">계정이 아직 없으신가요?</p>
        <p>회원가입을 하여, 시간을 아껴보세요.</p>
        <a href="/users/sign_up"><button id="signup_button">회원가입</button></a>
      </div>
    </div>
  </div>


<div class="frontbox">
  <div class="login">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <h2>로그인</h2>
        <%= f.input :userid,
                    placeholder:'아이디',
                    required: false,
                    autofocus: true,
                    input_html: { class: "form_input" }
                    %>
        <%= f.input :password,
                    placeholder:'비밀번호',
                    required: false,
                    input_html: { autocomplete: "current-password", class: "form_input"} %>

       <!-- 일단 GUI 상에는 없는 기능             
         <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
        <!-- label 삭제하는 방법? --> 


    <div class="form-actions">
        <%= f.button :submit, "로그인" %>
    </div>

    
    <%= render "users/shared/links", style: "font-size:11px"%>
    <% end %>
    
    <a href="/users/sign_up"><input type="button" value="회원가입" class="register_button" style="display:none"></a>
    
   
    </div>  
  </div>
</div>

