<!DOCTYPE html>
<html>
<head>

  <!-- <link href="/assets/users.css" media="screen" rel="stylesheet" /> -->
  <%=stylesheet_link_tag "users"%>
  <style>



.navbar{
      display: flex;
      height: 70px;
      background-color:rgba(255, 255, 255, 0.6);
      text-align: center;
    }

header{
    visibility:hidden;
}
.container{
    height:100vh; 
    max-height:800px;
    align-content: center;
}

.main{
    background-image: url('/bg-masthead(grad).jpg');
    background-size:cover;
    height:100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.login_register{
    display: flex;
    justify-content: space-between;
}


.btn{
    color: #ffffff;
    padding: 5px 0px;
    width: 60%;
    margin: 0 auto;
    background-color: #8350bf;
}

.main_text{
    text-align: center;
    margin-top: 15%;
}

#main_text{
    font-family: Noto Sans KR;
}
.register_password{
   display:flex; 
   justify-content: space-between; 
   padding:0px 10px; 
   margin-top:30px;
}

@media (max-width:1023px){

    header{
        display:none;
    }
    .registrationbtn{
        padding: 5px 0px;
        
        margin : 0 auto;
        background-color: #8350bf;
        color: #ffffff;
    }

    .btn{
        color: #ffffff;
        padding: 5px 0px;
        width: 60%;
        margin: 0 auto;
        background-color: #8350bf;
    }

    .container {
        box-shadow: none;
        -webkit-box-shadow: none; 
        -ms-box-shadow: none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        -ms-border-radius: 0px;
}
    figure{
        display:none;
    }

    .main{
        background-image: url('/ipad_main.png');
        height:100vh;
        background-size:cover;
    }

    #main_text{
        font-size: 180%;
        font-family: Noto Sans KR;
    }




</style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainnav">
<a href="/home/index"><img class="logo" src="/logo(horizon).png"></a>
</nav>
<div class="main">
        <!-- Sing in  Form -->
        <div style="margin:auto">
        <section class="sign-in">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


        <div class="container">            
            <div class="main_text">
                <h3 class="font-weight-bold" id="main_text">인쇄물 예약하고,<br>대기없이 픽업하자!</h2><br><br>
                  <h3 id="main_text" id="main_text">프린트 테이크아웃 서비스<br><strong>"뽀바드림"</strong></h3>
                  <%= devise_error_messages! %>
            </div>
            <div class="signin-content">      
                <div class="signin-form">
                    <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                    <%= f.input :userid,
                        placeholder: '아이디',
                        label: false,
                        required: false,
                        autofocus: true,
                        input_html: { class: "form_input" }
                        %>
                    </div>
                    <div class="form-group">
                    <%= f.input :password,
                        placeholder:'비밀번호',
                        label: false,
                        required: false,
                        input_html: { autocomplete: "current-password", class: "form_input"} 
                        %>
                    </div>
                <!-- <div class="form-group">
                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term">
                    <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                </div> -->
               
                    <div class="login_register">
                        <%= f.button :submit, "로그인", :class => "btn button form-group btn-block" %>
                        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                        <% end -%>
                    </div>
                    <div class="register_password">
                        <div>
                            <a href="/users/sign_up">회원가입</a>
                        </div>
                        <div>
                            <%= link_to "비밀번호 찾기", new_password_path(resource_name) %><br>
                        </div>
                    </div>
                    </form> 
                </div>
            </div>
        </div>
        <% end %>
        </section>
    </div>
    </div>

</body>