<!DOCTYPE html>
<html>
<head>

  <!-- <link href="/assets/users.css" media="screen" rel="stylesheet" /> -->
  <%=stylesheet_link_tag "users"%>
  <style>

.pheader{
  display:none;
}

header{
    visibility:hidden;
}

.main{
    background-image: url('/background.png');
    background-size:cover;
    height:100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

@media (max-width:767px){

    header{
        display:none;
    }
    .registrationbtn{
        padding: 5px 0px;
        width:80%;
        margin : 0 auto;
        border: 1px solid black;
    }

    .container {
        box-shadow: none;
        -webkit-box-shadow: none; 
        -ms-box-shadow: none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        -ms-border-radius: 0px;
        margin-top:50px;
}
    figure{
        display:none;
    }

    .main{
        background-image: url('/ipad_main.png');
        height:100vh;
        padding:0;
    }
}


</style>

</head>

<body>
<!-- <div class="login_container">
  <div class="backbox">
    <div class="loginMsg">
      <div class="textcontent">
        <p class="title">계정이 아직 없으신가요?</p>
        <p>회원가입을 하여, 시간을 아껴보세요.</p>
        <a href="/users/sign_up"><button id="signup_button">회원가입</button></a>
      </div>
    </div>
  </div>


<div class="frontbox">
  <div class="login">
  <%#= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <h2>로그인</h2>
        <%#= f.input :userid,
                    placeholder: '아이디',
                    label: false,
                    required: false,
                    autofocus: true,
                    input_html: { class: "form_input" }
                    %>
        <%#= f.input :password,
                    placeholder:'비밀번호',
                    label: false,
                    required: false,
                    input_html: { autocomplete: "current-password", class: "form_input"} %>

        일단 GUI 상에는 없는 기능             
         <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
        <!-- label 삭제하는 방법? 


    <div class="form-actions">
        <%#= f.button :submit, "로그인" %>
    </div>

    
    <%#= render "users/shared/links", style: "font-size:11px"%>
    <#% end %>
    
    <a href="/users/sign_up"><input type="button" value="회원가입" class="register_button" style="display:none"></a>
    
   
    </div>  
  </div>
</div> -->
<div class="main">
        <!-- Sing in  Form -->
        <div style="margin:auto">
        <section class="sign-in">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/main-image.png" alt="sing up image" style="width:100%"></figure>
                        <a href="/users/sign_up" class="registrationbtn btn button form-group btn-block">회원가입</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">로그인</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <!-- <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="your_name" id="your_name" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Password">
                            </div> -->
                            <div class="form-group">
                            <%= f.input :userid,
                                placeholder: '아이디',
                                label: false,
                                required: false,
                                autofocus: true,
                                input_html: { class: "form_input" }
                                %>
                            </div>
                            <div class="form-group">
                            <%= f.input :password,
                                placeholder:'비밀번호',
                                label: false,
                                required: false,
                                input_html: { autocomplete: "current-password", class: "form_input"} 
                                %>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term">
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                           <!--  <div class="form-group form-button">
                                <a href="/users/sign_up"><input type="submit" name="signin" id="signin" class="form-submit register_button" value="Log in"></a>
                            </div> -->
                            <div class="form-actions">
                                <%= f.button :submit, "로그인", :class => "btn button form-group btn-block" %>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <% end %>
        </section>
    </div>
    </div>

</body>