<!DOCTYPE html>
<html>
<head>

<!-- <link href="/assets/printer.css" media="screen" rel="stylesheet" /> -->
<%=stylesheet_link_tag "printer"%>

</head>
<body>
<div class="datetime">
  <div class="date">
    <p id="yy"></p>
    <p id="mm"></p>
    <p id="dd"></p>
    <p id="day"></p>
  </div>
  <div class="time">
    <p>현재시각</p>
    <p id="time"></p>
  </div>
  <script>
    var d = new Date();
    document.getElementById("yy").innerHTML = d.getFullYear()+"년";
    document.getElementById("mm").innerHTML = (d.getMonth()+1)+"월";
    document.getElementById("dd").innerHTML = d.getDate()+"일";

    var weekdays=["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
    document.getElementById("day").innerHTML = weekdays[d.getDay()];

    var hr = d.getHours();
    var min = d.getMinutes();
    function hrfunc(hr){
      if(hr<12) return "(오전)"+hr+":"
      else if (hr==12) return "(오후)"+hr+":"
      else return "(오후)"+(hr-12)+":"
    }
    document.getElementById("time").innerHTML = hrfunc(hr)+min;
  </script>
</div>

<div id="tableID" style="margin-top: 100px;">
  <table class="table-list" data-currentpage="1">
    <thead>
      <th><button type="button" class="sort textcenter" data-sort="pickupTime">픽업시간<i class="caret"></i></button></th>
      <th><button type="button" class="sort textcenter" data-sort="pickupName">이름<i class="caret"></i></button></th>
      <th><button type="button" class="sort textcenter" data-sort="pickupID">학번<i class="caret"></i></button></th>
      <th><button type="button" class="sort textcenter" data-sort="fileName">파일명<i class="caret"></i></button></th>
      <th><button type="button" class="sort textcenter" data-sort="printSetting">인쇄설정<i class="caret"></i></button></th>
      <th><button type="button" class="sort textcenter" data-sort="printPage">범위(매수)<i class="caret"></i></button></th>
      <th><button type="button" class="sort textcenter" data-sort="printFee">결제금액<i class="caret"></i></button></th>
      <th><button type="button" class="sort textcenter" data-sort="printState">상태<i class="caret"></i></button></th>
    </thead>
    <!-- IMPORTANT, class="list" must be on tbody -->
    <tbody class="list">
      <% if @todayuploads.empty? %>
        <tr>
          <td>신청 내역이 없습니다.<br></td>
        </tr>
      <% else %>
        <% @todayuploads.each do |x| %>
          <tr>
            <td class="minify pickupTime"><%= x.pkuptime.split('~')[0] %></td>
            <td class="pickupName"><%= x.userid %></td>
            <td class="minify textright pickupID"><%= x.stdnum %></td>
            <td class="fileName"><%= URI.decode(x.attachment_url.split('/').last) %></td>
            <td class="printSetting"><%= x.landscape %>/<%= x.doublepg %>/<%= x.split %>분할/<%= x.color %></td>
            <td class="printPage"><%= x.pagenum %>(<%= x.totalpage %>)</td>
            <td class="printFee"><%= x.cost %>원</td>
            <td class="printState"><%= x.progress %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>

  </table>

</div>

<div class="footer">
</div>

</body>
</html>