<!DOCTYPE html>
<html>
<head>

<!-- <link href="/assets/payment.css" media="screen" rel="stylesheet" /> -->
<%=stylesheet_link_tag "payment"%>

<style>


.pheader{
  display:none;
}
.pagination{
	margin:0 auto;
	text-align:center;
	display:block;
}

</style>
</head>
<body>

<div class="page">
<div class="column detailview center">

	<h5>포인트 내역</h5>
	<div class="point_box">
		<h4>현재 포인트 : <%= current_user.cur_cash %><br></h4><br>
		<a href="/payment/new"><button id="point-button">포인트 충전</button></a><br>
		<a href="/payment/charge_show"><button id="point-button">포인트 충전 내역</button></a><br>

		<br>
	</div>

		<h5 style="text-align:left">포인트 충전/사용내역</h5>
		<div>
			<table>
			<% @cashflows.each do |x| %>
				<tr>
				<% if x.use_type == '차감' %>
			    	<td><%= x.real_created_at.strftime('%F'+' '+'%R') %></td> <td><%=x.use_type%></td> <td>-<%=x.amount%></td> <td><%=x.cur_cash%></td>
			    	
			    <%else%>
			    	<td><%= x.real_created_at.strftime('%F   %R') %></td> <td><%=x.use_type%></td> <td><%=x.amount%></td> <td><%=x.cur_cash%></td>
			    <%end%>
			   
			   	</tr>
			    
			    
			<% end %>

			
			</table>
			<div class="paginate"><%= paginate @cashflows%></div>
		</div>

</div>
</div>
</body>
</html>