<!DOCTYPE html>
<html>
<head>

<!-- <link href="/assets/payment.css" media="screen" rel="stylesheet" /> -->
<%=stylesheet_link_tag "payment"%>
<style type="text/css">
	.pheader{
		display:none;
	}

</style>
</head>
<body>
<div class="column detailview">
	<div class="point_box">
		<h4>현재 포인트 : <%= current_user.cur_cash %><br></h4><br>
		<a href="/payment/new"><button id="point-button">포인트 충전</button></a><br>
		<br>
	</div>
	<h5>포인트 충전 내역</h5>

	<br>
	<% if @charges.empty? %>
		신청 내역이 없습니다.<br>
	<% else %>
		<% @charges.each do |x| %>
		   
		   고유 유저 번호 : <%=x.user_id%><br>
		   충전 일시 : <%=x.created_at%><br>
		   충전 량 : <%=x.amount%><br>
		   <%if x.deposit ==false%>
		   <p style="color:red">상태 : 충전 대기중 &nbsp <%= button_to '충전 신청 취소', "/payment/charge_delete/#{x.id}", method: :delete %></p>
		   <% else %>
		   <p style="color:green">상태 : 충전완료</p>
		   <% end %>
		   <hr>
		<% end %>
	<% end %>
	<a href="/home/main">홈으로 돌아가기</a>

</div>

</body>
</html>

