<!DOCTYPE html>
<html>
<head>

<!-- <link href="/assets/payment.css" media="screen" rel="stylesheet" /> -->
<%=stylesheet_link_tag "payment"%>
<style>
.price{
  width:100px;
  height:50px;
  border-radius:5px;
  background-color:#057075;
  color:white;
  border:none;
}

.label{
  color:black;
  font-size:16px;
}
.pheader{
  display:none;
}

.point_row{
  display: flex;
  justify-content: space-between;
  width:80%;
  margin:auto;
}
@media (max-width: 767px){
  .logo{
    display:none;
  }
  .go-back{
    display:block;
  }
    .navbar-toggler{
      display:none;
    }
    .nav-title{
      display:block;
    }

    .nav-title:after {
      visibility: visible;
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
      content: "포인트 충전";
    }
    .text-center{
      visibility:hidden;
    }
    h5{
      display:none;
    }
    .point_row{
      width:90%;
}
    }
}


</style>
</head>
<body>
<div class="page">
<div class="column detailview">
    <h5>포인트 충전</h5>
    <div class="charge_cash">

          <%= form_for @charge, url: "/payment/create", html: { id: "myForm1" } do |f| %>
          <div class="point_row">
              <div><%= f.label "500원 충전", :class => "label" %></div>
              <%= f.hidden_field :amount, :value => 500 %>
              <div><input type="button" id="1" value="500원" class="price-button" onclick="showAccount(this.id)"></div>
          </div>
          <% end %>
          <hr>
         <%= form_for @charge, url: "/payment/create", html: { id: "myForm2" }  do |f| %>
          <div class="point_row">
            <div><%= f.label "2500원 충전", :class => "label" %></div>
            <%= f.hidden_field :amount, :value => 2500 %>
            <div><input type="button" id="2" value="2500원" class="price-button" onclick="showAccount(this.id)"></div>
          </div>
          <% end %>
        
          <hr>
          <%= form_for @charge, url: "/payment/create", html: { id: "myForm3" }  do |f| %>
          <div class="point_row">
            <div><%= f.label "5000원 충전", :class => "label" %></div>
            <%= f.hidden_field :amount, :value => 5000 %>
            <div><input type="button" id="3" value="5000원" class="price-button" onclick="showAccount(this.id)"></div>
          </div>
          <% end %>
          <hr>
          <%= form_for @charge, url: "/payment/create", html: { id: "myForm4" }  do |f| %>
          <div class="point_row">
            <div><%= f.label "10000원 충전", :class => "label"%></div>
            <%= f.hidden_field :amount, :value => 10000 %>
            <div><input type="button" id="4" value="10000원" class="price-button" onclick="showAccount(this.id)"></div>
          </div>
          <% end %>
          <hr>
        </div>


        <!-- The Modal -->
        <div id="mymodal" class="modal">

          <!-- Modal content -->
          <div class="modal-content" style="color:black;padding:50px;padding-top:20px">
            <span class="close">&times;</span>
            
            <p>나의 고유 번호  : <%= current_user.id%> </p>
            <p id="howmuch"></p> <!--이 코드는 밑의 showAccount(value) 에서 id로 값을 받아온다 따라서 다른 tag를 쓰고 id는 howmuch 쓰면 변경가능-->
            <p>
              신한은행 110-382-635029 하창권 으로 입금해주세요!<br>
              입금시 반드시 받는통장표시내용에 이름과 위의 고유번호를 함께 써주세요.<br>
              예) <%= current_user.username%>(<%= current_user.id%>)<br>
              입금된 금액이나 고유번호가 신청된 내용과 다를 경우 입금 처리되지 않습니다.<br> 
              입금 처리는 낮 11시와 밤 11시에 이루어집니다. 

           </p>
            <button class="btn button form-group btn-block" id="btnClose">확인 완료!</button>
          </div>

        </div>

</div>
</div>
<script type="text/javascript">
  var modal = document.getElementById('mymodal');
  var howmuch = document.getElementById('howmuch');
  var span = document.getElementsByClassName("close")[0];
  var btnClose = document.getElementById('btnClose');
  var flag = 0;

  span.onclick = function() {
      modal.style.display = "none";
  }
  btnClose.onclick = function(){
    var formnum = "";
    if (flag==1){
      formnum = "myForm1";
    }
    else if (flag==2){
      formnum = "myForm2";
    }
    else if (flag==3){
      formnum = "myForm3";
    }
    else{
      formnum = "myForm4";
    }

    document.getElementById(formnum).submit();
    modal.style.display = "none";
  }
   window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }


  function showAccount(clicked_id){
    var value = 0;
    flag = clicked_id;

    if (clicked_id == 1){
      value = 500;
    }
    else if (clicked_id == 2){
      value = 2500;
    }
    else if (clicked_id == 3){
      value = 5000;
    }
    else{
      value = 10000;
    }
    howmuch.innerHTML = "구매 금액 : "+value +"원";
    modal.style.display = "block";
  }
  

</script>
</body>
</html>