<style>

.pheader{
  display:none;
}

</style>

<div>
      <% if user_signed_in? %>
        <div class="info" style="float:right;">
        <!--<%= current_user.username %><br><br>-->
                              
        </div>
    </div>
      
      <!-- multistep form -->

      <%= form_for @upload, url: home_filecreate_path, :autenticity_token => true, method:"post", :remote => true, html: { multipart: true, id: :msform} do |f| %>
        <!-- progressbar -->
        <ul id="progressbar">
          <li class="active">복사대 선택</li>
          <li>파일 업로드</li>
          <li>파일 상세 설정</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
          <h2 class="fs-title">복사대 설정</h2>
          <h3 class="fs-subtitle">프린트물을 찾아갈 장소와 시간을<br> 정하는 단계입니다.</h3><br>
          <div class="input_text">
                <%= f.label "픽업날짜" %>
                <%= f.select(:pkupdate, ["오늘","내일"],{}, {:id => "pkupdateop"})%>
                <br><br>

                <%= f.label "픽업시간" %>
                <%= f.select(:pkuptime, ["10:15~10:30","11:45~12:00", "13:15~13:30", "14:45~15:00","16:15~16:30"],{}, {:id => "pkuptimeop"})%>
                <br><br>

                <%= f.label "복사대" %>
                <%= f.select(:printer, ["K", "J", "D"], {}, {:id => "printerop"}) %>
                <br><br>
                
                
          </div>
          <input type="button" id="btn_checktime" name="next" class="check action-button" value="Next" />
        </fieldset>

        <fieldset>
          <h2 class="fs-title">파일 업로드</h2>
          <h3 class="fs-subtitle">파일을 업로드하고, 페이지수를 <br>선택하는 단계입니다.</h3>

          <%= f.file_field :attachment, accept: 'application/pdf, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/haansofthwp', placeholder: "첨부파일" , :id => "attachmentop" %><br>
          
          <%= f.text_field :pagenum, placeholder: "인쇄 페이지  ex) 1-33, 35", :id => "pagenumop" %><br>

          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
            <div class="input_text">
                <h2 class="fs-title">파일 상세 설정</h2>
                <h3 class="fs-subtitle">상세 인쇄 설정을 선택하는 단계입니다. </h3>
                <%= f.label "가로/세로" %>
                <%= f.select(:landscape, ["가로","세로"],{}, {:id => "landscapeop"})%>
                <br>

                <%= f.label "양면/단면" %>
                <%= f.select(:doublepg, ["양면","단면"],{}, {:id => "doublepgop"})%>
                <br>

                <%= f.label "분할" %>
                <%= f.select(:split, ["2","4","6","8"],{}, {:id => "splitop"})%>
                <br>

                <%= f.label "흑백/컬러" %>
                <%= f.select(:color, ["흑백","컬러"],{}, {:id => "colorop"})%>
                <br>
          </div>

          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" id="mybtn" class= "action-button btn btn-primary" value="Finish"> 
<!-- 
          <%#= f.submit "Save", class: "action-button btn btn-primary", id:"mybtn" %> -->


        </fieldset>
      <!-- </form> -->
      <% end %>

      <% end %>

      <!-- Trigger/Open The Modal -->
       <!--  <button >작성 완료</button> -->

        <!-- The Modal -->
        <div id="mymodal" class="modal">

          <!-- Modal content -->
          <div class="modal-content" style="color:black;padding:50px;padding-top:20px">
            <span class="close">&times;</span>
            <div id ="printerchk" style="margin:50px auto"></div>
            <button onclick="$('form').submit()" class="btn button form-group btn-block">확인 완료!</button>
          </div>

        </div>

        <script type="text/javascript">
              
                          // Get the modal
            var modal = document.getElementById('mymodal');

            // Get the button that opens the modal
            var btn = document.getElementById("mybtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                  var errormsg = empty_check();
                  if ( !errormsg ){
                        modal.style.display = "block";
                        print_selected_option();
                  }else{
                        alert(errormsg);
                  }
                
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            

            function empty_check(){ 
                  var val4 = document.getElementById("pagenumop").value;

                  var val9 = document.getElementById("attachmentop").value;
                  var msg = "";

                  if (!val4){
                        msg += "인쇄할 페이지 범위를 반드시 입력해주세요!\n"

                  }
                  if (!val9){
                        msg += "인쇄할 문서를 반드시 첨부해주세요!\n"
                  }

                  return msg;
            }

            function print_selected_option(){
var sel = document.getElementById("printerchk");
                  var sel2 = document.getElementById("printerchk2");
                  var sel3 = document.getElementById("printerchk3");
                  var p_image = document.getElementById("print-image");

                  var val1 = document.getElementById("printerop").value;
                  var val2 = document.getElementById("pkuptimeop").value;
                  var val3 = document.getElementById("pkupdateop").value;
                  var val4 = document.getElementById("pagenumop").value;
                  var val5 = document.getElementById("landscapeop").value;
                  var val6 = document.getElementById("doublepgop").value;
                  var val7 = document.getElementById("splitop").value;
                  var val8 = document.getElementById("colorop").value;
                  var val9 = document.getElementById("attachmentop").value.substring(12);

                  total = totalPage(val4, val7);

                  sel.innerHTML = "<strong>결제 예정 금액 :  "+ (50*total) +"원</strong><br>"+"잔여 포인트:<hr><br><strong>"+val1+"관 복사대, "+val2+" "+val3+"</strong><br>"+"파일명:"+val9+"<br>"+"인쇄할 페이지:"+val4+"(총"+total+"장)<br><hr><br>";

                  sel3.innerHTML = val5+"방향 / "+val7+"분할 / "+val6+" / "+val8+"<br><hr><br>";  

                  if (val5=='가로'){
                    if (val7==2){
                      p_image.src="/hor_2.png";

                    }
                    else if(val7==4){
                      p_image.src="/hor_4.png";

                    }
                    else if(val7==6){
                      p_image.src="/hor_6.png";

                    }
                    else if(val7==9){
                      p_image.src="/hor_9.png";

                    }
                    else{
                      p_image.src="/hor_16.png";

                    }

                  }else{
                    if (val7==2){
                      p_image.src="/var_2.png";

                    }
                    else if(val7==4){
                      p_image.src="/var_4.png";

                    }
                    else if(val7==6){
                      p_image.src="/var_6.png";

                    }
                    else if(val7==9){
                      p_image.src="/var_9.png";

                    }
                    else{
                      p_image.src="/var_16.png";

                    }
                  }

            }

            function totalPage(pagenum, split){

                  var count = 0;
                  var pagenum_c = pagenum.split(',');
                  var len = pagenum_c.length;
                  for (var i=0; i<len; i++){

                        if (pagenum_c[i].includes("-")){
                              pagenum_d = pagenum_c[i].split("-");
                              count += (parseInt(pagenum_d[1]) - parseInt(pagenum_d[0]) +1);
                        }
                        else{
                              count+=1;
                        }
                  }

                  if (count % parseInt(split) == 0){
                        count = parseInt(count/split);
                  }else{
                        count = parseInt(count/split) +1;
                  }

                  return count;

            }


             
        </script>

      