<style>

.pheader{
  display:none;
}

@media (max-width: 767px){
	.logo{
		display:none;
	}
	.go-back{
		display:block;
	}
    .navbar-toggler{
      display:none;
    }
    .nav-title{
      display:block;
    }

    .nav-title:after {
      visibility: visible;
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
      content: "상세보기";
    }
    .text-center{
      visibility:hidden;
    }
}

</style>

<div class="column detailview center">
	<div class="detail_title">
		<% if @upload.pkuptime == 'canceled' %>
			취소된 신청
		<% else %>
			<%= @upload.pkupdate %><br> <%=@upload.pkuptime%> <%=@upload.printer%> 관
		<% end %>
	</div>
	<br>
	<div style="display:block">
		<div class="detail_info">
			
			결제금액 <%=@upload.cost %>(원)<hr>
			파일명 <%=URI.decode(@upload.attachment_url.split('/').last)%><hr>
			
			인쇄설정 : <%= @upload.landscape %> <%= @upload.split %>분할, <%= @upload.doublepg %><hr>

			<% if @upload.progress=='인쇄대기'%>
				<button id="print_status" class="status-waiting"><%= @upload.progress %></button>
				<!-- 수빈이가 추가할 '프린트 취소' -->
				<button id="print_status" class="cancel-button" value="인쇄취소" onclick="window.location='../usercancel/<%=@upload.id%>'">신청 취소하기</button>
			<% else %>
				<button id="print_status" class="status-finished"><%= @upload.progress %></button>
				<!-- 수빈이가 추가할 '프린트 취소' -->
				<button id="print_status" value="인쇄취소" disabled>신청 취소하기</button>
			<% end %>

			
		</div>
	</div>
	

</div>