
<style>

a:hover{
    text-decoration: none;
}
#category1, #category2, #category3{
	border:none;
	color:grey;
	background-color:transparent;
	margin-bottom:30px;
}

#category1:hover, #category2:hover, #category3:hover{
	color:black;
}

</style>

<div class="column print_upload center">

	<% if @uploads.empty? %>
		신청 내역이 없습니다.<br>
	<% else %>

		<input type="button" value="전체 보기" id="category1">  |  
		<input type="button" value="진행중인 인쇄" id ="category3">  |  
		<input type="button" value="완료된 인쇄" id ="category2"> <br>

		<div value="category" id="ongoing">
		<p3> 진행중인 내역 </p3>
		<% @ongoing_upload.each do |x| %>
		   <a href="filedetail/<%=x.id%>">
		   	<div class="filecurrent_card" style="border:1px solid #057075;">
			  <div style="text-align:left">
			   		<b><%= x.pkupdate %><br>
				   	<%= x.pkuptime %>  
				   	<%=x.printer%> 관 <br> </b></div>
				   	<%= URI.decode(x.attachment_url.split('/').last) %><br>
				   	<%= x.totalpage %>장 (<%= x.totalpage*50 %>원)<br>
				   
				  	<%=x.progress%><br>
			</div></a>
		<% end %>
      
		</div><hr>

		<div value="category" id="past">
		<p3> 지난 내역 </p3>
		<% @past_upload.each do |x| %>
		   <a href="filedetail/<%=x.id%>">
		   	<div class="filecurrent_card">
			  <div style="text-align:left">

			   		<b><%= x.pkupdate %><br>
				   	<%= x.pkuptime %>  
				   	<%=x.printer%> 관 <br> </b></div>
				   	<%= URI.decode(x.attachment_url.split('/').last) %><br>
				   	<%= x.totalpage %>장 (<%= x.totalpage*50 %>원)<br>
				   
				  	<%=x.progress%><br>
			</div></a>
		<% end %>
		</div>

	<% end %>
	<a href="/">홈으로 돌아가기</a>
</div>


<script>

	var ongoing = document.getElementById('ongoing');
	var past = document.getElementById('past');
	ongoing.style.display = 'block';
	past.style.display = 'block';

	document.getElementById('category1').onclick = function () {
		ongoing.style.display = 'block';
		past.style.display = 'block';
	}

	document.getElementById('category2').onclick = function () {
		ongoing.style.display = 'none';
		past.style.display = 'block';
	}

	document.getElementById('category3').onclick = function() {
		past.style.display = 'none';
		ongoing.style.display = 'block';
	}

</script>