
<style>

a:hover{
    text-decoration: none;
}
#category1, #category2, #category3{
	border:none;
	color: grey;
	background-color:transparent;
	margin-bottom:30px;
}

#category1:hover, #category2:hover, #category3:hover{
	color:black;
}
.pheader{
  display:none;
}
.title{
	margin-bottom:20px;

}

.pagination{
	margin:0 auto;
	text-align:center;
	display:block;
}
.filecurrent_card{
	 border:1px solid #d0abd8;
}

</style>

<div class="page">

	
	<div style="text-align:center; margin-top:40px">
		<input type="button" value="전체 보기   " id="category1">|    
		<input type="button" value="   진행중인 인쇄   " id ="category3">|    
		<input type="button" value="   지난 인쇄" id ="category2"> <br>
	</div>
	<div class="column" style="margin-top:20px">
		<div value="category" id="ongoing">
		<div class="title"> 진행중인 내역 </div>
		<% if @ongoing_upload.empty? %>
			신청 내역이 없습니다. <br>
		<% else %>
			<% @ongoing_upload.each do |x| %>
			   <a href="filedetail/<%=x.id%>">
			   	<div class="filecurrent_card"">
				  <div style="text-align:left">
				   		<b><%= x.pkupdate %><br>
				   		<% if x.pkuptime == 'canceled' %>
							취소된 신청
						<% else %>
							<%= x.pkuptime %>
							<%=x.printer%> 관 <br> 
						<% end %>
					   	</b>
					   	<%= URI.decode(x.attachment_url.split('/').last) %><br>
					   	<%= x.totalpage %>장 (<%= x.totalpage*50 %>원)<br>
					   
					  	<%=x.progress%><br></div>
				</div></a>

			<% end %>
			<div class="paginate"><%= paginate @ongoing_upload %></div>
      	<% end %>
		</div><hr>

		<div value="category" id="past">
		<div class="title"> 지난 내역 </div>
		<% if @past_upload.empty? %>
			신청 내역이 없습니다. <br>
		<% else %>
			<% @past_upload.each do |x| %>
			   <a href="filedetail/<%=x.id%>">
			   	<div class="filecurrent_card">
				  <div style="text-align:left">
				   		<b><%= x.pkupdate %><br>
					   	<% if x.pkuptime == 'canceled' %>
							취소된 신청
						<% else %>
							<%= x.pkuptime %>
							<%=x.printer%> 관 <br>
						<% end %> 
					    </b></div>
					   	<%= URI.decode(x.attachment_url.split('/').last) %><br>
					   	<%= x.totalpage %>장 (<%= x.totalpage*50 %>원)<br>
					   
					  	<%=x.progress%><br>
				</div></a>
			<% end %>
			<div class="paginate"><%= paginate @past_upload %></div>
		<% end %>
		</div>
	</div>
</div>

<script>

	var ongoing = document.getElementById('ongoing');
	var past = document.getElementById('past');
	ongoing.style.display = 'block';
	past.style.display = 'block';

	document.getElementById('category1').onclick = function () {
		ongoing.style.display = 'block';
		past.style.display = 'block';
	}

	document.getElementById('category2').onclick = function () {
		ongoing.style.display = 'none';
		past.style.display = 'block';
	}

	document.getElementById('category3').onclick = function() {
		past.style.display = 'none';
		ongoing.style.display = 'block';
	}

</script>