<style>



</style>

<div class="column detailview center">
	<div class="detail_title">
		<%= @upload.pkupdate %><br> <%=@upload.pkuptime%> <%=@upload.printer%> 관
	</div>
	<br>
	<div style="display:block">
		<div class="detail_info">
			결제금액 <%=@upload.totalpage*50 %>(원)<hr>
			파일명 <%=URI.decode(@upload.attachment_url.split('/').last)%><hr>
			
			인쇄설정 : <%= @upload.landscape %> <%= @upload.split %>분할, <%= @upload.doublepg %><hr>

			<button id="print_status"><%= @upload.progress %></button>


			<!-- 수빈이가 추가할 '프린트 취소' -->
			<button id="print_status">신청 취소하기</button>
		</div>
	</div>
	<div style="display:block">
		<a href="/home/filecurrent">신청현황으로 돌아가기</a><br>
	</div>

</div>