
<style>
      /*custom font*/
      @import url(https://fonts.googleapis.com/css?family=Montserrat);

      /*basic reset*/
      * {margin: 0; padding: 0;}

      html {
            height: 100%; 
      }

      body {
            font-family: montserrat, arial, verdana;
      }

      /*form styles*/
      #msform {
            max-width: 600px;
            min-width:350px;
            margin: 50px auto;
            text-align: center;
            position: relative;
      }
      #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 3px;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            box-sizing: border-box;
            width: 80%;
            margin: 0 10%;  
            /*stacking fieldsets above each other*/
            position: relative;
      }
      /*Hide all except first fieldset*/
      #msform fieldset:not(:first-of-type) {
            display: none;
      }
      /*inputs*/
      #msform input, #msform textarea {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            font-family: montserrat;
            color: #2C3E50;
            font-size: 13px;
      }
      /*buttons*/
      #msform .action-button {
            width: 100px;
            background: #057075;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
      }
      #msform .action-button:hover, #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
      }
      /*headings*/
      .fs-title {
            font-size: 15px;
            text-transform: uppercase;
            color: #2C3E50;
            margin-bottom: 10px;
      }
      .fs-subtitle {
            font-weight: normal;
            font-size: 13px;
            color: #666;
            margin-bottom: 20px;
      }
      .input_text{
            font-weight: normal;
            font-size: 13px;
            color: #666;
            margin-bottom: 20px;     

      }
      /*progressbar*/
      #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            /*CSS counters to number the steps*/
            counter-reset: step;
      }
      #progressbar li {
            list-style-type: none;
            color: black;
            text-transform: uppercase;
            font-size: 9px;
            width: 33.33%;
            float: left;
            position: relative;
      }
      #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #333;
            background: white;
            border-radius: 3px;
            margin: 0 auto 5px auto;
      }
      /*progressbar connectors*/
      #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
      }
      #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none; 
      }
      /*marking active/completed steps green*/
      /*The number of the step and the connector before it = green*/
      #progressbar li.active:before,  #progressbar li.active:after{
            background: #057075;
            color: white;
      }

</style>



<body>    

    <div>
      <% if user_signed_in? %>
        <div class="info" style="float:right;">
        <!--<%= current_user.username %><br><br>-->
                              
        </div>
    </div>
      
      <!-- multistep form -->
      <%= form_for @upload, url: home_filecreate_path, html: { multipart: true, id: :msform} do |f| %>
        <!-- progressbar -->
        <ul id="progressbar">
          <li class="active">복사대 선택</li>
          <li>파일 업로드</li>
          <li>파일 상세 설정</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
          <h2 class="fs-title">복사대 설정</h2>
          <h3 class="fs-subtitle">프린트물을 찾아갈 장소와 시간을<br> 정하는 단계입니다.</h3><br>
          <div class="input_text">
                <%= f.label "픽업날짜" %>
                <%= f.select(:pkupdate, ["오늘","내일"],{}, {})%>
                <br><br>

                <%= f.label "픽업시간" %>
                <%= f.select(:pkuptime, ["10:15~10:30","11:45~12:00", "13:15~13:30", "14:45~15:00","16:15~16:30"],{}, {})%>
                <br><br>

                <%= f.label "복사대" %>
                <%= f.select(:printer, ["K", "J", "D"], {}, {}) %>
                <br><br>
                
                
          </div>
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
          <h2 class="fs-title">파일 업로드</h2>
          <h3 class="fs-subtitle">파일을 업로드하고, 페이지수를 <br>선택하는 단계입니다.</h3>

          <%= f.file_field :attachment, accept: 'application/pdf, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/haansofthwp', placeholder: "첨부파일"  %><br>
          
          <%= f.text_field :pagenum, placeholder: "인쇄 페이지  ex) 1-33, 35" %><br>

          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
            <div class="input_text">
                <h2 class="fs-title">파일 상세 설정</h2>
                <h3 class="fs-subtitle">상세 인쇄 설정을 선택하는 단계입니다. </h3>
                <%= f.label "가로/세로" %>
                <%= f.select(:landscape, ["가로","세로"],{}, {})%>
                <br>

                <%= f.label "양면/단면" %>
                <%= f.select(:doublepg, ["양면","단면"],{}, {})%>
                <br>

                <%= f.label "분할" %>
                <%= f.select(:split, ["2","4","6","8"],{}, {})%>
                <br>

                <%= f.label "흑백/컬러" %>
                <%= f.select(:color, ["흑백","컬러"],{}, {})%>
                <br>
          </div>

          <input type="button" name="previous" class="previous action-button" value="Previous" />

          <%= f.submit "Save", class: "action-button btn btn-primary" %>

        </fieldset>
      <!-- </form> -->
      <% end %>
      
      <% end %>
</body>



<script>

</script>
   
