<style>

a:hover{
    text-decoration: none;
}

</style>

<div class="column print_upload center">

	<% if @uploads.empty? %>
		신청 내역이 없습니다.<br>
	<% else %>
		<h6>현재 진행중인 업로드 입니다</h6>
		<% @ongoing_upload.each do |x| %>
		   <a href="filedetail/<%=x.id%>">
		   	<div class="filecurrent_card" style="border:1px solid #057075;">
			  <div style="text-align:left">
			   		<b><%= x.pkupdate %><br>
				   	<%= x.pkuptime %>  
				   	<%=x.printer%> 관 <br> </b></div>
				   	<%= URI.decode(x.attachment_url.split('/').last) %><br>
				   	<%= x.totalpage %>장 (<%= x.totalpage*50 %>원)<br>
				   
				  	<%=x.progress%><br>
			</div></a>
		   
		<% end %>
		<hr>
		<h6>이미 완료된 업로드 입니다</h6>
		<% @past_upload.each do |x| %>
		<a href="filedetail/<%=x.id%>">
			<div class="filecurrent_card" style="border:1px solid grey">
			   <div style="text-align:left">
			   		<b><%= x.pkupdate %><br>
				   	<%= x.pkuptime %>  
				   	<%=x.printer%> 관 <br> </b></div>
				   	<%= URI.decode(x.attachment_url.split('/').last) %><br>
				   	<%= x.totalpage %>장 (<%= x.totalpage*50 %>원)<br>
				   
				  	<%=x.progress%><br>
		 	</div>
		 </a>
		<% end %>

	<% end %>
	<a href="/">홈으로 돌아가기</a>
</div>
