<% if @ongoing_upload.empty? %>
	신청 내역이 없습니다.<br>
<% else %>
	<% @ongoing_upload.each do |x| %>
	   <p>
	   <%= URI.decode(x.attachment_url.split('/').last) %><br>
	   <%= x.totalpage %>장 -> <%= x.totalpage*50 %>원 출금<br>
	   <%= x.pkupdate %><br>
	   <%= x.pkuptime %><br>
	   <%=x.printer%><br>
	   <%=x.progress%><br><br>
	   <a href="filedetail/<%=x.id%>">자세히</a><br>
	   ------------------ <br>
	   </p>
	<% end %>
<% end %>
<a href="/">홈으로 돌아가기</a>