<p> 자세히 보기 </p>

[<%=@upload.pkuptime%>, <%=@upload.printer%>]
<br>
<%= link_to "#{URI.decode(@upload.attachment_url.split('/').last)}", @upload.attachment_url, download: "#{URI.decode(@upload.attachment_url.split('/').last)}" %> <br>
<br>
페이지: <%=@upload.pagenum%> (총 <%=@upload.totalpage%>장)<br><br>

<a href="/home/filecurrent">신청현황으로 돌아가기</a><br>
<a href="/">홈으로 돌아가기</a>

