<style>

.pheader{
  display:none;
}
#mymodal2 .modal-content p{
  font-size: 1.8vh;
}

#notice{
  font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 10px;
}

</style>

<div class="page">
<div>
  <% if user_signed_in? %>
    <div class="info" style="float:right;">
    <!--<#%= current_user.username %><br><br>-->                             
    </div>
</div>
      <div class="column">
      <!-- multistep form -->

      <%= form_for @upload, url: home_filecreate_path, :autenticity_token => true, method:"post", :remote => true, html: { multipart: true, id: :msform, onsubmit:"return false;"} do |f| %>
      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
        <!-- progressbar -->
        <ul id="progressbar">
          <li class="active">픽업 설정</li>
          <li>파일 업로드</li>
          <li>파일 상세 설정</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
          <h2 class="fs-title">픽업 설정</h2>
          <h3 class="fs-subtitle">프린트물을 픽업할 장소와 시간을<br> 정하는 단계입니다.<br></h3>

           
          <div class="input_text">
                <%= f.label "픽업날짜" %>
                <%= f.select(:pkupdate, ["오늘","내일"],{}, {:id => "pkupdateop", :onchange => "timeopChange()"})%>
                <br><br>

                <a href="#" onclick="possibleRequest()" style="font-weight: bold;">
                  <%= f.label "픽업시간" %></a>
                <p style="font-size: 80%; margin-top: 1%; margin-bottom: 0;">←클릭하여 신청가능한 픽업시간을 Check!</p>
                <%= f.select(:pkuptime, ["10:15~10:30","11:45~12:00", "13:15~13:30", "14:45~15:00","16:15~16:30"],{}, {:id => "pkuptimeop"})%>
                <br><br>

                
                <%= f.label "복사대" %>
                <%= f.select(:printer, ["K"], {}, {:id => "printerop"}) %>
                <br><br>

                 <h3 class="input_text" style="text-align: left">* 픽업 시작 시간 <span style="color:red">한 시간 전</span>까지 신청가능합니다.<br>*  원하는 픽업시간에 신청이 가능한지 '픽업시간'을 클릭해서 확인해 주세요.<br></h3>
                
                
          </div>
          <input type="button" id="btn_checktime" name="next" class="check action-button" value="Next" />
        </fieldset>

        <fieldset>

          <h2 class="fs-title">파일 업로드</h2>
          <h3 class="fs-subtitle">파일을 업로드하고, 인쇄할 페이지 범위를 <br>선택하는 단계입니다.<br></h3>

          <%= f.file_field :attachment, accept: 'application/pdf, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/haansofthwp', placeholder: "첨부파일" , :id => "attachmentop" %><br>
          
          <%= f.text_field :pagenum, placeholder: "인쇄 페이지 범위  ex) 1-33, 35", :id => "pagenumop" %><br>

          <h3 class="input_text" style="text-align: left">*첨부가능한 파일 형식은 워드, 한글, PPT, PDF입니다.</h3>
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" id="checkpage" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
            <div class="input_text">
                <h2 class="fs-title">파일 상세 설정</h2>
                <h3 class="fs-subtitle">상세 인쇄 설정을 선택하는 단계입니다.<br></h3>
                <%= f.label "가로/세로" %>
                <%= f.select(:landscape, ["가로","세로"],{}, {:id => "landscapeop"})%>
                <br>

                <%= f.label "단면/양면" %>
                <%= f.select(:doublepg, ["단면","양면"],{}, {:id => "doublepgop"})%>
                <br>

                <%= f.label "분할" %>
                <%= f.select(:split, ["1","2","4","6","9","16"],{}, {:id => "splitop"})%>
                <br>

                <%= f.label "흑백/컬러" %>
                <%= f.select(:color, ["흑백","컬러"],{}, {:id => "colorop"})%>
                <br><br>

                <h3 class="input_text" style="text-align: left">*위의 설정 이외의 인쇄 양식은 컴퓨터 기본 설정에 따릅니다.<br>*흑백 단면 인쇄는 1장에 50원, 흑백 양면 인쇄는 1장에 100원입니다.<br>*컬러 단면 인쇄는 한 장에 200원, 컬러 양면 인쇄는 1장에 400원입니다.<br></h3>
          </div>

          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" id="mybtn" name="next" class= "action-button btn btn-primary" value="Finish" onclick="finishFunction()"> 
<!-- 
          <%#= f.submit "Save", class: "action-button btn btn-primary", id:"mybtn" %> -->


        </fieldset>
      <!-- </form> -->

      <% end %>
    </div>

      <% end %>

      <!-- Trigger/Open The Modal -->
       <!--  <button >작성 완료</button> -->

        <!-- The Modal -->
        <div id="mymodal" class="modal">

          <!-- Modal content -->
          <div class="modal-content" style="color:black;padding:50px;padding-top:20px">
            <span class="close">&times;</span>
            <div id ="notice"></div>
            <div id ="printerchk"></div>
            <div id ="printerchk2"><img src="/" id="print-image" style="max-width:100%"></div>
            <div id = "printerchk3"></div>
            <button onclick="$('form').submit()" class="btn button form-group btn-block">확인 완료!</button>
          </div>

        </div>

        <div id="mymodal2" class="modal">
          <!-- Modal content -->
          <div class="modal-content" style="color:black;padding:50px;padding-top:20px">
            <span class="close" id="close2">&times;</span>
            <h3>잔여 신청 현황<br>(잔여석/전체) </h3><br>
            <p><%= Date.today %> | 10:15~10:30 |&nbsp; <%=30-@count1%> / 30</p>
            <p><%= Date.today %> | 11:45~12:00 |&nbsp; <%=30-@count2%> / 30</p>
            <p><%= Date.today %> | 13:15~13:30 |&nbsp; <%=30-@count3%> / 30</p>
            <p><%= Date.today %> | 14:45~15:00 |&nbsp; <%=30-@count4%> / 30</p>
            <p><%= Date.today %> | 16:15~16:30 |&nbsp; <%=30-@count5%> / 30</p>
            <p><%= Date.today+1 %> | 10:15~10:30 |&nbsp; <%=30-@count6%> / 30</p>
            <p><%= Date.today+1 %> | 11:45~12:00 |&nbsp; <%=30-@count7%> / 30</p>
            <p><%= Date.today+1 %> | 13:15~13:30 |&nbsp; <%=30-@count8%> / 30</p>
            <p><%= Date.today+1 %> | 14:45~15:00 |&nbsp; <%=30-@count9%> / 30</p>
            <p><%= Date.today+1 %> | 16:15~16:30 |&nbsp; <%=30-@count10%> / 30</p>

          </div>
          

        </div>
</div>
        <script type="text/javascript">


                          // Get the modal
            var modal = document.getElementById('mymodal');
            var modal2 = document.getElementById('mymodal2');

            // Get the button that opens the modal
            var btn = document.getElementById("mybtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            var span2 = document.getElementById("close2");
            var notice = document.getElementById("notice");
            var sel = document.getElementById("printerchk");
            var sel2 = document.getElementById("printerchk2");
            var sel3 = document.getElementById("printerchk3");
            var checkpage = document.getElementById("checkpage")


            // When the user clicks the button, open the modal 
            btn.onclick = function() {
              val4 = document.getElementById("pagenumop").value;
              val7 = document.getElementById("splitop").value;
              val8 = document.getElementById("colorop").value;

              total = totalPage(val4, val7);
              cur_cash= <%= current_user.cur_cash %>;
              money_per_page = 50;
              if (val8=="컬러"){
                  money_per_page = 200;
              }

                  left_money=total*money_per_page;
                  if (cur_cash<left_money){
                    alert("포인트가 부족하여 프린트 요청이 불가합니다. 포인트를 충전하러 가시겠습니까?");
                    location.href="/payment/new"
                  }
                  else{
                    errormsg = empty_check();
                    if ( !errormsg ){
                        modal.style.display = "block";


                        print_selected_option();

                    }else{
                        alert(errormsg);
                    }


                  }



                  
                
            }



            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            span2.onclick = function() {
                modal2.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
                if (event.target == modal2){
                    modal2.style.display = "none";
                }
            }

            function empty_check(){ 
              val4 = document.getElementById("pagenumop").value;
              val7 = document.getElementById("splitop").value;
              val9 = document.getElementById("attachmentop").value.substring(12);
              val3 = document.getElementById("pkupdateop").value;
              val2 = document.getElementById("pkuptimeop").value;

              var regexp = /^((\d+-\d+|\d+),?)+$/ ;
              var test = document.getElementById("pagenumop").value;
                  msg = "";
                  if(!regexp.test(test)) msg+= "인쇄할 페이지를 정해진 양식대로 입력해주세요!\n";
                
                  // if (!val4){
                  //       msg += "인쇄할 페이지 범위를 반드시 입력해주세요!\n";

                  // }
                  if (!val9){
                        msg += "인쇄할 문서를 반드시 첨부해주세요!\n";
                  }
                  if (!fileValidation(val9)){
                    m = val9+"는 첨부가능한 파일 형식이 아닙니다!";
                    msg+=m;
                  }
                  if (totalPage(val4, val7)<=0){
                    msg += "올바른 페이지 범위가 설정되지 않았습니다!\n";
                  }
                  if(val3 == "오늘" && val2=="10:15~10:30"){
                    if(<%=@count1%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }
                  else if (val3 == "오늘" && val2=="11:45~12:00"){
                    if(<%=@count2%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }
                  else if (val3 == "오늘" && val2=="13:15~13:30"){
                    if(<%=@count3%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }
                  else if (val3 == "오늘" && val2=="14:45~15:00"){
                    if(<%=@count4%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }
                  else if (val3 == "오늘" && val2=="16:15~16:30"){
                    if(<%=@count5%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }
                  else if (val3 == "내일" && val2=="10:15~10:30"){
                    if(<%=@count6%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }
                  else if (val3 == "내일" && val2=="11:45~12:00"){
                    if(<%=@count7%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }
                  else if (val3 == "내일" && val2=="13:15~13:30"){
                    if(<%=@count8%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }
                  else if (val3 == "내일" && val2=="14:45~15:00"){
                    if(<%=@count9%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }
                  else if (val3 == "내일" && val2=="16:15~16:30"){
                    if(<%=@count10%>>30) msg+="30명이 넘어 더 이상 신청할 수 없습니다.\n";
                  }


                  return msg;
            }

            function fileValidation(fileName){
              able = ["pptx", "ppt", "doc", "docx", "hwp", "pdf"];
              whichFileRaw = fileName.split(".");
              whichFile = whichFileRaw[whichFileRaw.length-1];
              for (i=0; i<able.length; i++){
                if(whichFile==able[i]){
                  return true;
                }
              }
              return false;
            }


            function print_selected_option(){

            p_image = document.getElementById("print-image");
            val1 = document.getElementById("printerop").value;
            val3 = document.getElementById("pkupdateop").value;
            val2 = document.getElementById("pkuptimeop").value;
            val4 = document.getElementById("pagenumop").value;
            val5 = document.getElementById("landscapeop").value;
            val6 = document.getElementById("doublepgop").value;
            val7 = document.getElementById("splitop").value;
            val8 = document.getElementById("colorop").value;
            val9 = document.getElementById("attachmentop").value.substring(12);
            if(val4.slice(-1)==',') val4=val4.slice(0,-1)
            total = totalPage(val4, val7);
            cur_cash= <%= current_user.cur_cash %>;
            money_per_page = 50;
            if (val8=="컬러"){
                money_per_page = 200;
            }
                  notice.innerHTML = "*팝업 창 가장 아래의 <span style='color:red'>'확인 완료!'</span> 버튼을 눌러야 신청이 완료됩니다!<br>";
                  sel.innerHTML = "<strong>결제 예정 금액 :  "+(money_per_page*total)+"원</strong><br>"+"현재 잔여 포인트:"+cur_cash+"<br>결제 후 잔여 포인트:"+(cur_cash-(money_per_page*total))+"<hr><br><strong>"+val1+"관 복사대, "+val2+" "+val3+"</strong><br>"+"파일명:"+val9+"<br>"+"인쇄할 페이지:"+val4+"(총"+total+"p)<br><hr><br>";

                  sel3.innerHTML = val5+"방향 / "+val7+"분할 / "+val6+" / "+val8+"<br><hr><br>";  

                  if (val5=='가로'){
                    if (val7==1){
                      p_image.src="/hor_1.png";

                    }
                    else if (val7==2){
                      p_image.src="/hor_2_new.png";

                    }
                    else if(val7==4){
                      p_image.src="/hor_4_new.png";

                    }
                    else if(val7==6){
                      p_image.src="/hor_6.png";

                    }
                    else if(val7==9){
                      p_image.src="/hor_9.png";

                    }
                    else{
                      p_image.src="/hor_16.png";

                    }

                  }else{
                    if (val7==1){
                      p_image.src="/ver_1.png";

                    }
                    else if (val7==2){
                      p_image.src="/ver_2.png";

                    }
                    else if(val7==4){
                      p_image.src="/ver_4.png";

                    }
                    else if(val7==6){
                      p_image.src="/ver_6.png";

                    }
                    else if(val7==9){
                      p_image.src="/ver_9.png";

                    }
                    else{
                      p_image.src="/ver_16.png";

                    }
                  }
            }


            function totalPage(pagenum, split){

                  count = 0;
                  if(pagenum.slice(-1)==',') pagenum=pagenum.slice(0,-1);
                  pagenum_c = pagenum.split(',');
                  len = pagenum_c.length;
                  for (i=0; i<len; i++){

                        if (pagenum_c[i].indexOf("-")!= -1){
                              pagenum_d = pagenum_c[i].split("-");
                              if(parseInt(pagenum_d[1]) - parseInt(pagenum_d[0]) >= 0){
                                count += (parseInt(pagenum_d[1]) - parseInt(pagenum_d[0]) +1);
                              }
                              else {
                                count -= 9999;
                              }
                        }

                        
                          
                        else{
                              count+=1;
                        }
                  }

                  if (count % parseInt(split) == 0){
                        count = parseInt(count/split);
                  }else{
                        count = parseInt(count/split) +1;
                  }

                  return count;

            }
          
          function possibleRequest(){
            modal2.style.display = "block";
          }


           
        </script>
          

      
