

<style>
.pheader{
  display:none;
}
</style>

<div>
	<div class="row">
    <div class="column print_list">
    	<div class="filecurrent_title"><a href="/home/filecurrent">신청 내역 보러가기</a></div>
    		<div class="filecurrent_list">
		    	<% if @uploads.empty? %>
					신청 내역이 없습니다.<br>
				<% else %>
					<% @ongoing_upload.each do |x| %>
					   <a href="filedetail/<%=x.id%>">
					   <div class="filecurrent_card">
					   		<div style="text-align:left">
					   		<b><%= x.pkupdate %><br>
						   	<%= x.pkuptime %>  
						   	<%=x.printer%> 관 <br> </b></div>
						   	<%= URI.decode(x.attachment_url.split('/').last) %><br>
						   	<%= x.totalpage %>장 (<%= x.totalpage*50 %>원)<br>
						   
						  	<%=x.progress%><br>
						   
					   </div></a>
					<% end %>
				<% end %>
			</div>

    </div>
     <div class="column print_upload"></a>
			
			<%= form_for @upload, url: home_filecreate_path, html: { multipart: true, id: :msform} do |f| %>
				<%= render partial: "home/fileupload", locals: { upload: @upload, f: f } %>
			<% end %>
      </div>
      <div class="column print_advertisement">광고 영역</div>
  
  
		</div>
</div>
		
<div class="footer"></div>



<a href="/payment/cashflow">포인트 사용 내역</a>

