<!DOCTYPE html>
<html>
<head>
<!-- 
<link href="/assets/home.css" media="screen" rel="stylesheet" /> -->
<%=stylesheet_link_tag "home"%>
<style>
.max-page{
	background-image:url('/bg-masthead(grad).jpg');
	background-size:cover;
	height:100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
}

.main_text{
	text-align: center;
	margin-top: 20%
}

#list_point_button{
	margin-left: 30%;
}

@media (max-width:1023px){
	.max-page{
		background-image:none;
	}

}

</style>
</head>
<body>
<!-- 
<div>
	<div class="row">
    <div class="column print_list">
    	<div class="filecurrent_title"><a href="/home/filecurrent">신청 내역 보러가기</a></div>
    		<div class="filecurrent_list">
		    	<#% if @uploads.empty? %>
					신청 내역이 없습니다.<br>
				<#% else %>
					<#% @ongoing_upload.each do |x| %>
					   <a href="filedetail/<#%=x.id%>">
					   <div class="filecurrent_card">
					   		<div style="text-align:left">
					   		<b><#%= x.pkupdate %><br>
						   	<#%= x.pkuptime %>  
						   	<#%=x.printer%> 관 <br> </b></div>
						   	<#%= URI.decode(x.attachment_url.split('/').last) %><br>
						   	<#%= x.totalpage %>장 (<#%= x.totalpage*50 %>원)<br>
						   
						  	<#%=x.progress%><br>
						   
					   </div></a>
					<#% end %>
				<#% end %>
			</div>

    </div>
     <div class="column print_upload"></a>
			
			<#%= form_for @upload, url: home_filecreate_path, html: { multipart: true, id: :msform} do |f| %>
				<#%= render partial: "home/fileupload", locals: { upload: @upload, f: f } %>
			<#% end %>
      </div>
      <div class="column print_advertisement">광고 영역</div>
  
  
</div>
</div>
		
<div class="footer"></div>

<a href="/payment/cashflow">포인트 사용 내역</a>

 -->

<div style="display:flex" class="max-page">
	<div class="main_section">
		<div class="main_text">
		<h1 class="text-uppercase font-weight-bold">인쇄물 예약하고,<br>대기없이 픽업하자!</h1><br><br>
          <h2>프린트 테이크아웃 서비스<br>"뽀바드림"</h2>
      	</div>
		<div class="file_upload">
			
			<div class="file_upload_link">
				<a href="/home/fileupload">
					<button class="custom-button">
						파일업로드
					</button>
				</a>
			</div>
		
		</div>

		<div class="list_point">
			<div class="filecurrent_li">
				<a href="/home/filecurrent"><img src='/list_btn.png' height="35%" id="list_point_button">
					<span class="badge badge-danger"><%= @count %></span></a>
			</div>
			<div class="point">
				<a href="/payment/cashflow"><img src='/point_btn.png' height="35%" id="list_point_button"></a>
			</div>
		</div>

		<!--<div class="list_point">
			<div class="filecurrent_li">
				<a href="/home/filecurrent">
					<div class="card-gotolist main-icon">
						<img src='/filelist.png' height="50px" style="margin-bottom:30px">신청내역<span class="badge badge-danger""><%= @count %></span>

					</div>
				</a>
			</div>
			<div class="point">
				<a href="/payment/cashflow">
					<div class="card-gotopoint main-icon">
						<img src='/point.png' height="50px" style="margin-bottom:30px"><p><%= current_user.cur_cash %> 포인트 </p>
					</div>
				</a>
			</div>
			
		</div>-->



	</div>

	</div>
</div>



<!-- <div style="display:flex" class="column">
	<div class="main_section" style="width:100vw">
		<div class="file_upload">
			<div class="file_upload_text"><img src='/main-image.png' class="main-image" style="display:block"></div>
			<div class="file_upload_link">
				<a href="/home/fileupload">
					<button class="custom-button">
						파일업로드
					</button>
				</a>
			</div>
		
		</div>
		<div class="list_point">
			<div class="filecurrent_li">
				<a href="/home/filecurrent">
					<div class="card-gotolist">
						<img src='/list.svg' class="main-icon">신청내역 &nbsp;&nbsp;&nbsp;<span class="badge badge-danger"">4</span>

					</div>
				</a>
			</div>
			<div class="point">
				<a href="/payment/cashflow">
					<div class="card-gotopoint">
						<img src='/coins.svg' class="main-icon"><%= current_user.cur_cash %> 포인트 
					</div>
				</a>
			</div>
				
		</div>
	</div>

	
</div>
 -->

</body>
</html>


