<% if @user.usertype == "user" %>
	<p1> 뽀바드림을 이용해주셔서 감사합니다 :) </p1>
<% else %>
	<% if @todayuploads.empty? %>
		신청 내역이 없습니다.<br>
	<% else %>
		<% @todayuploads.each do |x| %>
		<% if x.progress != "인쇄취소" %>
		   <%= x.stdnum %> <br>
		   <%= x.pkuptime %> <br>
		   <%= x.landscape %> <br>
		   <%= x.doublepg %> <br>
		   <%= x.split %> <br>
		   <%= x.color %> <br>
		   <%= x.pagenum %> <br>
		   <%= link_to "다운로드받기", x.attachment_url, download: "#{URI.decode(x.attachment_url.split('/').last)}" %> <br>
		   <% if x.progress == "인쇄대기" %>
		   <p6> 인쇄승인 버튼을 누르시면 인쇄를 취소하실 수 없습니다. </p6> <br>
		   <input type="button" value="인쇄승인" onclick="window.location='../home/changeState1/<%=x.id%>'"> <br>
		   <input type="button" value="인쇄취소" onclick="window.location='../home/changeState2/<%=x.id%>'"> <br>
		   <% elsif x.progress == "인쇄중" %>
		   <input type="button" value="인쇄완료" onclick="window.location='../home/changeState3/<%=x.id%>'"> <br>
		   <% end %>
		   ------------------------<br>
		<% end %>
		<% end %>
	<% end %>
<% end %>
<a href="/">홈으로 돌아가기</a>