<!DOCTYPE html>
<html>
<head>

<style>
  header{
    visibility:hidden;
  }
  .pheader{
    display:none;
  }
  .navbar-toggler{
    display:none;
  }
  .nav-title{
    display:block;
   /* position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;*/
  }

  .notice{
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }
  

  @media (max-width:767px){
    header{
      visibility:visible;
    }
    .logo{
      display:none;
    }
    .go-back{
      display:block;
    }
    .nav-title {
      visibility: hidden;
     
    }

    .nav-title:after {
      visibility: visible;
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
      content: "회원가입";
    }
    .text-center{
      display:none;
    }
    article[role="signup"]{
      box-shadow:none;
      -webkit-box-shadow:none;
    }

  }


</style>

</head>
<body>
<div class="page">
  <div class="login-signup">
   
        <article role="signup" style="margin-bottom:30px">
           <h5 class="text-center"><i class="fa fa-lock"></i>회원가입</h5>

  <div class="signup">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field form-group">
  <!--       <%= f.error_notification %> -->
        <%= devise_error_messages! %>
      </div>  
        <div class="field form-group">
          <%= f.text_field :userid, autofocus: true, class:'form-control', placeholder:'아이디' %>
        </div>

         <div class="field form-group">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class:'form-control', placeholder:'비밀번호' %>
        </div>

        <div class="field form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'form-control', placeholder:'비밀번호 확인' %>
        </div>

        <div class="field form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control', placeholder:'이메일' %>
        </div> 

        <div class="field form-group">
          <%= f.text_field :username, autofocus: true, class:'form-control' , placeholder:'이름' %>
        </div>

        <div class="field form-group">
          <%= f.text_field :phonenum, autofocus: true,class:'form-control', placeholder:'핸드폰 번호' %>
        </div>

        <div class="field form-group">
          <%= f.text_field :stdnum, autofocus: true, class:'form-control', placeholder:'학번' %>
        </div>

        <div class="notice">
          * 아이디, <span style="color:red">이름</span>, 학번은 프린트 수령 및 환불 등의 절차에서 필요한 개인정보이며<br>
          <span style="color:red">전화번호/이메일</span>은 포인트 충전 실패 등 만일의 경우를 위한 연락처 입니다.<br><br>
          ※ 최초 가입인데 <span style="color:red">'이미 있는 아이디/이메일 오류'</span>가 뜰 경우,<br>
          입력한 이메일로 가서 메일함을 확인해 주세요!!<br>
          그럼에도 메일이 없을 경우 오픈 카카오로 문의 부탁드립니다.
        </div>

          <%= f.submit "가입하기", class:'btn button form-group btn-block'  %>  
             
      <% end %>



</div>

</article>
</div>

</div>
  


</body>

</html>

